name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/bun@v0.5.0 # Action to install Bun
        with:
          bun-version: 1.3.5

      - name: Install dependencies
        run: bun install

      - name: Lint & Format Check
        run: |
          biome check
          biome check --write

      - name: Run Tests
        run: bun test

      - name: Build Application
        run: bun --bun next build
